.pointer-on-hover {
    cursor: pointer;
}

.user-view-profile-picture {
    max-height: 9rem
}

.profile-picture-post-container {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture-post-container img {
    min-width: 50px;
    max-width: none;
    height: 50px;
    margin: 0 -100%;
}

.profile-picture-container {
    width: 150px;
    height: 150px;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
}

.profile-picture-container img {
    min-width: 150px;
    max-width: none;
    height: 150px;
    margin: 0 -100%;
}

.profile-picture-comment-container {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture-comment-container img {
    min-width: 30px;
    max-width: none;
    height: 30px;
    margin: 0 -100%;
}

.profile-picture-md-container {
    width: 75px;
    height: 75px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture-md-container img {
    min-width: 75px;
    max-width: none;
    height: 75px;
    margin: 0 -100%;
}

.text-black {
    color: hsl(0, 0%, 14%) !important;
}

.error-message {
    color: #E74C3C !important;
}

.fading-bg {
    -webkit-animation: color-change 2s infinite;
    -moz-animation: color-change 2s infinite;
    -o-animation: color-change 2s infinite;
    animation: color-change 2s infinite;
}

@-webkit-keyframes color-change {
    0% {
        background-color: #504e4e;
    }
    100% {
        background-color: #b3b3b3;
    }
}

@-moz-keyframes color-change {
    0% {
        background-color: #504e4e;
    }
    100% {
        background-color: #b3b3b3;
    }
}

@-ms-keyframes color-change {
    0% {
        background-color: #504e4e;
    }
    100% {
        background-color: #b3b3b3;
    }
}

@-o-keyframes color-change {
    0% {
        background-color: #504e4e;
    }
    100% {
        background-color: #b3b3b3;
    }
}

@keyframes color-change {
    0% {
        background-color: #504e4e;
    }
    100% {
        background-color: #b3b3b3;
    }
}

.posted-picture {
    max-width: 500px;
    text-align: center;
}

span {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for WebKit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.flexible-text {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for WebKit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.post-content {
    white-space: pre-line;
}

.dropify-wrapper {
    height: 100px !important;
}

.follow-block {
    width: 15rem;
}

/* Extra small devices (portrait phones, less than 576px)*/
.lg-user-full-name {
    width: 30rem;
}

@media (max-width: 575px) {
    .lg-user-full-name {
        width: 15rem;
    }
}
