<div id="post-block" data-post-page="null">
    <?= $this->element('Post/post') ?>
</div>
<div id="end-post-block" class="text-center text-secondary">
    <?= $this->element('Post/dummy_post') ?>
</div>
